# Java .class files
*.class

# Stupid Mac directory utility files
.DS_Store

# JAR files
src/jars/*.jar

# SableCC 3 generated classes
src/golite/analysis/
src/golite/lexer/
src/golite/node/
src/golite/parser/

# SableCC 3 Source Code
src/sablecc-3.7

# Ethan's ignore folder
./ignore_these/
