# Java .class files
*.class

# Mac utility files
.DS_Store

# SableCC 3 generated classes
src/golite/analysis/
src/golite/lexer/
src/golite/node/
src/golite/parser/

# SableCC 3 Source Code
src/sablecc-3.7

# Output files
src/.pretty.go
